<div class="container">
  <h1>Place your items in <%= @bookmark.apartment.name %>!</h1>
  <%# check if arrangement already exists, and load either arrangement or floor_plan %>
  <% if @bookmark.arrangement? %>
    <% file_to_load = @bookmark.arrangement %>
  <% else %>
    <% file_to_load = @bookmark.apartment.floor_plan %>
  <% end %>
  <div class="row justify-content-between" data-controller="load-canvas" data-load-canvas-json-value="<%= file_to_load %>">
    <%# buttons for canvas control %>
    <div class="row">
      <button class="btn btn-primary mx-2" style="width: 20%">Clear items</button>
      <button class="btn btn-primary mx-2" style="width: 20%">Save</button>
    </div>
    <%# canvas elements %>
    <canvas id="new-canvas"  class="col-7">
      <%# render canvas here %>
      <%# <img src="my_image.png" id="my-image" data-load-json-target> %>
    </canvas>
    <%# items list menu %>
    <div class="col-4 container" style="border: black; background-color: lightgrey;">
      <div class="row">
        <% current_user.items.all.each do |item| %>
          <%# create cards for each item %>
          <div
            class="card col-4 my-3 mx-2"
            data-controller="load-canvas"
            data-load-canvas-length-value="<%= item.length %>"
            data-load-canvas-width-value="<%= item.width %>"
            style="width: 200px; border-radius: 3px; drop-shadow: 2px 2px 4px darkgrey;"
          >
            <i class="<%= item.icon %>" style="height: 50px;"></i>
            <button data-action="click->load-canvas#add" class="fa-solid fa-circle-plus fa-xl"></button>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %> x <%= item.quantity %></h5>
              <p class="card-text"><%= item.length %> cm² x <%= item.width %> cm²</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
