<div class="container">
  <h1>Place your items!</h1>
  <div class="row">
    <%# canvas elements %>
    <div class="col-8">
      <h2>Canvas goes here</h2>
      <p><%= @bookmark.arrangement %></p>
    </div>
    <%# items list menu %>
    <div class="col-4 container">
      <% current_user.items.all.each do |item| %>
        <%# create cards for each item %>
        <div class="card col-5 my-3 mx-2" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %> x <%= item.quantity %></h5>
            <p class="card-text"><%= item.length %>cm² x <%= item.width %>cm²</p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
