<div class="container">
  <h1 class="my-3">Place your items in <%= @bookmark.apartment.name %>!</h1>
  <%# check if arrangement already exists, and load either arrangement or floor_plan %>
  <% if @bookmark.arrangement.present? %>
    <% file_to_load = @bookmark.arrangement %>
  <% else %>
    <% file_to_load = @bookmark.apartment.floor_plan %>
  <% end %>
  <div
    class="row justify-content-between"
    data-controller="load-canvas"
    data-load-canvas-json-value="<%= file_to_load %>"
  >
    <%# buttons for canvas control %>
    <div class="row justify-content-start">
      <button
        data-action="click->load-canvas#clear"
        class="btn btn-outline-danger btn-sm mx-1"
        style="width: 15%"
        >
        Start over
      </button>
      <button
        data-action="click->load-canvas#delete"
        class="btn btn-outline-warning btn-sm mx-1"
        style="width: 15%"
        >
        Remove item
      </button>
      <%# save results of fitting via dropdown %>
      <div class="save-features">
        <%# label %>
        <%= simple_form_for(@bookmark) do |f| %>
          <%= f.input :result,
          type: :select,
          label: "How's everything fit?",
          label_html: {class: "my-2"},
          collection: ["Good fit", "Tight fit", "Poor fit"],
          input_html: {data: {load_canvas_target: "result"}}
          %>
        <% end %>
        <button
          data-action="click->load-canvas#save"
          data-arrangement="<%= @bookmark.arrangement %>"
          data-bookmark="<%= @bookmark.id %>"
          class="btn btn-primary mx-1"
          style="width: 15%"
          >
          Save
        </button>
      </div>
    </div>
    <%# canvas elements %>
    <canvas id="new-canvas"  class="col-8 border border-2 border-primary-subtle my-4" style="border-width: 2px;">
      <%# render canvas here %>
      <%# <img src="my_image.png" id="my-image" data-load-json-target> %>
    </canvas>
    <%# items list menu %>
    <div class="col-4 container" style="border: black; background-color: lightgrey;">
      <div class="row">
        <% current_user.items.all.each do |item| %>
          <%# create cards for each item %>
          <div
            class="card col-4 my-3 mx-2 p-2"
            id="fit-item"
            style="width: 200px; border-radius: 3px; drop-shadow: 2px 2px 4px darkgrey;"
          >
            <img src="<%= image_path(item.image)%>" alt="<%= item.name %>" class= "image-item" >
            <button
              data-action="click->load-canvas#add"
              class="fa-solid fa-circle-plus fa-xl add-item"
              data-length="<%= item.length %>"
              data-width="<%= item.width %>"
              >
            </button>
            <div class="card-body">
              <h4 class="card-title"><%= item.name %> x <%= item.quantity %></h4>
              <p class="card-text"><%= item.length %> cm² x <%= item.width %> cm²</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
