<div class="container">
  <h1 class="my-3">Place your items in <%= @bookmark.apartment.name %>!</h1>
  <%# check if arrangement already exists, and load either arrangement or floor_plan %>
  <% if @bookmark.arrangement.present? %>
    <% file_to_load = @bookmark.arrangement %>
  <% else %>
    <% file_to_load = @bookmark.apartment.floor_plan %>
  <% end %>
  <div
    class="row justify-content-between"
    data-controller="load-canvas"
    data-load-canvas-json-value="<%= file_to_load %>"
  >
    <%# buttons for canvas control %>
    <div class="row justify-content-start">
      <%# <button
        data-action="click->load-canvas#delete"
        class="btn btn-outline-warning btn-sm mx-1"
        style="width: 15%"
        >
        Remove item
      </button> %>
      <%# save results of fitting via dropdown %>
      <div class="save-features">
        <%# label %>
        <%# <%= simple_form_for(@bookmark) do |f| %>
          <%# <%= f.input :result, %>
          <%# type: :select,
          label: "How's everything fit?",
          label_html: {class: "my-2"},
          collection: ["Good fit", "Tight fit", "Poor fit"],
          input_html: {data: {load_canvas_target: "result"}} %>
          <%# <% end %>
          <div class="d-flex justify-content-between">
            <button
              data-action="click->load-canvas#save"
              data-arrangement="<%= @bookmark.arrangement%>"
              data-bookmark="<%= @bookmark.id %>"
              class="button-52"
              style="width: 15%; height: 91%;"
              >
              Save
            </button>
            <%= link_to "Book Now!", bookmarks_path, class:"button-52 mb-3", style:"width: 15%; height: 91%;" %>
          </div>
        </div>
      </div>
      <%# canvas elements %>
      <canvas id="new-canvas"  class="col-8 border border-2 border-primary-subtle my-4" style="border-width: 2px;">
        <%# render canvas here %>
      </canvas>
      <%# items list menu %>
      <div class="col-4 container my-4" style="border: black; background: linear-gradient(180deg, #8ed7f2, #48b6de); overflow-y: scroll; height:98vh; border-radius:4px; width: 30rem;">
        <div class="row justify-content-around align-items-center">
          <div class="col-6 text-center">
            <h3 class="mt-3">Click to add</h3>
          </div>
          <div class="col-6 text-center">
            <button
              data-action="click->load-canvas#clear"
              class="btn btn-outline-success btn-sm mt-3"
              style="width: 50%"
              >
              Start over
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <% current_user.items.all.each do |item| %>
            <%# create cards for each item %>
            <div
            class="card col-4 my-3 mx-2 p-2 items-button align-items-center"
            id="fit-item"
            data-action="click->load-canvas#add"
              data-name="image-<%= item.name %>"
              data-length="<%= item.length %>"
              data-width="<%= item.width %>"
              >
              <img
              src="<%= image_path(item.image)%>"
              alt="<%= item.name %>"
              class= "image-item"
              id="image-<%= item.name %>"
              data-load-canvas-target="image-<%= item.name %>"
            >
                <%# <button
                class="fa-solid fa-circle-plus fa-xl add-item border-0"
                > %>
                <%# </button> %>
                <div class="card-body">
                  <h4 class="card-title text-center"><%= item.name %></h4>
                  <p class="card-text"><%= item.length %> cm² x <%= item.width %> cm²</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
