<div class="container">
  <h1 class="my-2">My Saved Apartments</h1>
  <div class="row justify-content-around px-3">
    <%# create individual cards here %>
    <% @bookmarks.each do |bookmark| %>
      <div class="card-bmk col-12 my-2 mx-2">
        <div class="row align-items-center">
          <div class="col-4 card-bmk-img">
            <%= cl_image_tag bookmark.apartment.photos.first.key, height: 250, crop: :fill %>
          </div>
          <div class="col-6 card-bmk-infos ms-2">
            <h1><%= bookmark.apartment.name %></h1>
            <h2><%= bookmark.apartment.address %></h2>
            <p><%= bookmark.apartment.category %></p>
            <p><%= bookmark.apartment.price %> JPY per month</p>
            <p><%= bookmark.apartment.total_floorspace %> m²</p>
            <% if bookmark.comment.blank? %>
              <p>add comment(update)</p>
            <% else %>
              <p><%= bookmark.comment %> | edit comment</p>
            <% end %>
          </div>
          <div class="col d-flex flex-column">
            <%= link_to "Delete Bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger btn-sm my-2" %>
            <%= link_to "Contact Agency", "#", class:"btn btn-info btn-sm my-2" %>
            <%= link_to "Details", apartment_path(bookmark.apartment), class:"btn btn-primary btn-sm my-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
