<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hi <%= current_user.username %>!</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
        <ul class="navbar-nav me-auto">
          <%# Button for Home for all users%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item active">
              <% if current_user && current_user.agency? %>
                <% link_to "My Apartments", agency_apartments_path, class: "nav-link" %>
              <% else %>
                <%= link_to "All Apartments", apartments_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item active">
              <%# Button for apartments for Admin and button for Items for User %>
              <% if current_user && current_user.agency? %>
                <%= link_to "My Apartments", agency_apartments_path, class: "nav-link" %>
              <% else %>
                <%= link_to "My Stuff", items_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%# Button for Add an apartment for Admin and button for My bookmarks for User %>
              <% if current_user && current_user.agency? %>
                <%= link_to "Add Apartment", new_agency_apartment_path, class: "nav-link" %>
              <% else %>
                <%= link_to "My Bookmarks", bookmarks_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%# Button for the agency to see requests from users %>
              <% if current_user && current_user.agency? %>
                <%= link_to agency_bookmarks_path, class: "nav-link" do %>
                  Requests <span class="" data-requests-subscription-target="requestsSidebar"></span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <%# Here was dropdown , link just testing %>
      </ul>
    </div>
  </div>
</div>
