<% if params[:floor_plan] == 'true' %>
  <div class="container" data-controller="apartment-canvas" data-apartment-canvas-floorplan-url-value=<%= @apartment.floor_plan_picture.photo.url %> data-apartment-canvas-id-value=<%= @apartment.id %>>
    <h1 class="my-2">Floor Plan Editor</h1>
    <button class="btn btn-secondary" data-apartment-canvas-target="drawButton" data-action="click->apartment-canvas#startDrawing">Start Drawing</button>
    <div class="d-none" data-apartment-canvas-target="saveButton">
      <button class="btn btn-secondary" data-action="click->apartment-canvas#setDoor">Set Main Door</button>
      <%= simple_form_for @apartment, url: agency_apartment_path(@apartment), html: {data: {'apartment-canvas-target': "saveFloorplan", action: 'turbo:submit-end->apartment-canvas#saveFloorplan'}} do |f| %>
        <%= f.input :floor_plan, as: :hidden, input_html: { data: {'apartment-canvas-target': "input" }}%>
        <%= f.submit "Save", class: "btn btn-secondary" %>
      <% end %>
    </div>
    <div class="canvas-container">
      <canvas id="new-canvas" class="border" data-apartment-canvas-target="canvas"></canvas>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4">
        <h1 class="form-title">Edit an apartment</h1>
        <div class="form-shared">
          <%= simple_form_for @apartment, url: agency_apartment_path(@apartment), method: :patch do |f| %>
            <%= f.input :name %>
            <%= f.input :description, as: :text %>
            <%= f.input :price, label: "Rent (¥ per month)" %>
            <%= f.input :total_floorspace, label: "Total floorspace (m²)" %>
            <%= f.input :category %>
            <%= f.input :address %>
            <%= f.input :photos, as: :file, label: "Upload photos of your apartment" %>
            <%= f.input :creation, as: :hidden, input_html: { value: 'true'} %>
            <%= f.button :submit, "Save", class:"btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
