<div class="container">
  <div class="row">
    <%# create individual cards here %>
    <% @apartments.each do |apartment| %>
      <div class="col-5 my-3 mx-2 card-trip">
        <img src="..." class="card-img-top" alt="...">
        <%# main display info %>
        <div class="card-trip-infos">
          <h2 class=""><%= apartment.name %> - <%= apartment.category %></h2>
          <p class=""><%= apartment.total_floorspace %> m²</p>
          <%# subtitle info %>
          <p class=""><i class="fa-solid fa-location-dot"></i> <%= apartment.address %></p>
          <p class="">¥<%= apartment.price.to_i %></p>
        </div>
        <%# View, Edit and Delete Button here %>
        <div>
          <%= link_to "View apartment", agency_apartment_path(apartment), class:"btn btn-info btn-sm" %>
          <%= link_to "Edit apartment", edit_agency_apartment_path(apartment), class:"btn btn-primary btn-sm" %>
          <%= link_to "Delete apartment", agency_apartment_path(apartment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
