<div class="container-fluid flashy-container">
  <h1 class="my-2">Listed Apartments</h1>
  <% if @apartments.any? %>
    <%# Stats %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Stats
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-5" id="staticBackdropLabel">Global Stats</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>You have <strong><%= @apartments.count %></strong> apartments listed</div>
            <div>Your apartments were bookmarked <strong><%= @bookmarks_count %></strong> times</div>
            <div>Your apartments were viewed <strong><%= @impressions_count %></strong> times</div>
          </div>
        </div>
      </div>
    </div>
    <%# create individual cards here %>
    <div class="row justify-content-center">
      <% @apartments.each do |apartment| %>
        <div class="card-flashy-agency col-6">
          <%= link_to "", edit_agency_apartment_path(apartment), class: "fa-solid fa-pen flashy-edit-button" %>
          <%= image_tag(apartment.photos[0], class: "img-flashy-agency") %>
          <div>
            <h2><%= apartment.name %> - <%= apartment.category %></h2>
            <h3><i class="fa-solid fa-location-dot"></i> <%= apartment.address %></h3>
            <p>
              Total floorspace: <%= apartment.total_floorspace %> m²
            </p>
            <p>
              <strong>¥<%= apartment.price.to_i %>/month</strong>
            </p>
            <button class="button-flashy-agency">
              <%= link_to "View apartment", apartment_path(apartment)%>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="my-4">No apartments are currently listed!</p>
  <% end %>
</div>
