<div class="container-fluid flashy-container">
  <h1 class="agency-index">Listed Apartments (<%= @apartments.count %>)</h1>
  <% if @apartments.any? %>
    <%# create individual cards here %>
    <div class="row justify-content-center">
      <% @apartments.each do |apartment| %>
        <div class="card-flashy-agency col-6">
          <%= link_to "", edit_agency_apartment_path(apartment), class: "fa-solid fa-pen flashy-edit-button" %>
          <%= image_tag(apartment.photos[0], class: "img-flashy-agency") %>
          <div>
            <h2><%= apartment.name %> - <%= apartment.category %></h2>
            <h3><i class="fa-solid fa-location-dot"></i> <%= apartment.address %></h3>
            <p>
              Total floorspace: <%= apartment.total_floorspace %> m²
            </p>
            <p>
              <strong>¥<%= apartment.price.to_i %>/month</strong>
            </p>
            <%# display individual stats %>
            <div class="row stats-number">
              <div class="col">
                <h5><strong><%= apartment.impression_counter %></strong></h5>
              </div>
              <div class="col">
                <h5><strong><%= apartment.bookmarks.count %></strong></h5>
              </div>
            </div>
            <div class="row stats-title">
              <div class="col">
                <p>Views</p>
              </div>
              <div class="col">
                <p>Bookmarks</p>
              </div>
            </div>
            <button class="button-flashy-agency">
              <%= link_to "View apartment", agency_apartment_path(apartment)%>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="my-4">No apartments are currently listed!</p>
  <% end %>
</div>
