<h1 class="my-2">Add an apartment</h1>
<%= simple_form_for @apartment, url: agency_apartments_path do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :total_floorspace %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.input :photos, as: :file, label: "Upload a floorplan" %>
  <%= f.input :creation, as: :hidden, input_html: { value: 'true'} %>
  <%= f.button :submit, "Next", class:"btn btn-secondary" %>
<% end %>
