<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h1 class="form-title">List an apartment</h1>
      <div class="form-shared" data-controller="new-forms">
        <%= simple_form_for @apartment, url: agency_apartments_path do |f| %>
          <%= f.input :name, placeholder: "Meguro Heights" %>
          <%= f.input :description, as: :text, placeholder: "A quiet place in the middle of the big city." %>
          <%= f.input :price, label: "Rent (¥ per month)", placeholder: "70000" %>
          <%= f.input :total_floorspace, label: "Total floorspace (m²)", placeholder: "20" %>
          <%= f.input :category, placeholder: "1LDK" %>
          <%= f.input :address, placeholder: "Tokyo, Meguro, 1-2-3" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true }, required: true, label: "Upload photos of your apartment" %>
          <%= f.button :submit, "Save", class:"btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
