<div class="outer-container-agency-show">
  <div class="container-agency-show" >
    <div class="row d-flex align-items-center justify-content-center">
      <%#Apartments name, address price %>
      <div class="col-md-8 agency-info">
          <div class="card-agency-show">
            <h1><%= @apartment.name%></h1>
            <p><%= @apartment.category %></p>
          </div>
        <%#Apartments description, price, address, total floorspace, agency id %>
          <div class="card-agency-show">
            <h3>Description</h3>
            <p><%= @apartment.description %></p>
            <p>Price: <%= @apartment.price.to_i %>¥</p>
            <p>Address: <%= @apartment.address %></p>
            <p>Total floorspace: <%= @apartment.total_floorspace %>m2</p>
            <p>Agency name: <%= @apartment.agency_id %></p>
          </div>
          <%# QR code %>
          <div class="card-agency-show">
            <h4>QR Code</h4>
            <%= @apartment.qr_code %>
          <%# Update %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
