<% content_for :meta_title, "#{@apartment.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @apartment.description %>
<% content_for :meta_image, cl_image_path(@apartment.photos[0].path) %>
<div class="container flashy-container-show">
  <div class="row" style="display: flex;">
    <div class="card-flashy-show col-7">
      <%#= render "carousel", apartment: @apartment %>
      <%= image_tag(@apartment.photos[0], class: "img-flashy") %>
      <%= link_to "", edit_agency_apartment_path(@apartment), class: "fa-solid fa-pen flashy-edit-button-agency-show" %>
      <%= link_to "", agency_apartment_path(@apartment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash flashy-delete-button-agency-show" %>
      <div class="row">
        <div class="g-col-6 text-center" style="position: relative;">
          <h2><%= @apartment.name %> - <%= @apartment.category %></h2>
          <h3 style="opacity:0.6"><i class="fa-solid fa-location-dot"></i> <%= @apartment.address %></h3>
          <%# Apartments description %>
          <p class="text-muted text-start"><%= @apartment.description %></p>
          <%# Apartments info %>
          <p><strong> Total floorspace: <%= @apartment.total_floorspace %> m²</strong> </p>
          <p><strong> ¥<%= @apartment.price.to_i %>/month</strong></p>
          <p><strong>Managed by <%= @apartment.agency.username %></strong></p>
        </div>
        <div class="justify-content-between align-items-center d-flex">
          <%# floor plan display %>
          <% if @apartment.floor_plan_picture.present? %>
            <%= image_tag(@apartment.floor_plan_picture.photo, class: "show-floor-plan col-6 text-end my-2") %>
          <% else %>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <span style="font-size: 15px">You haven't uploaded a floor plan yet!</span>
              <!-- Button trigger modal -->
              <button class="button-flashy w-75 my-2" style="color: black; display: inline;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Upload Floor Plan
              </button>
            </div>
          <% end %>
          <div class="col-6">
            <div id="qr" class="my-2">
              <%# displaying the qr code %>
              <% @qr = RQRCode::QRCode.new("https://suite-fit-rlmp44-5e8ff51180b0.herokuapp.com/apartments/#{@apartment.id}") %>
              <%== @qr.as_svg(module_size: 4, viewbox: true) %>
            </div>
          </div>
        </div>
        <%# buttons row %>
        <div class="my-4 d-flex justify-content-around">
          <% if @apartment.floor_plan_picture.present? %>
            <div class="col">
              <%= link_to "Floor Plan Editor", edit_agency_apartment_path(@apartment, floor_plan: "true"), class: "button-flashy", style: "color: black;" %>
            </div>
          <% else %>
            <%# modal start %>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Upload floor plan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for [@apartment, @floor_plan_picture], url: apartment_floor_plan_pictures_path(@apartment) do |f| %>
                      <%= f.input :photo, as: :file, label: "Upload the floor plan of your apartment" %>
                    </div>
                    <div class="modal-footer">
                      <%= f.button :submit, "Save", class:"button-flashy", style: "color: black;" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <%# modal end %>
          <% end %>
          <div class="col">
            <%= link_to save_qr_code_path(@apartment), class: "button-flashy", style: "color: black;" do %>
              <i class="fa-solid fa-download"></i>Save QR code
            <% end %>
          </div>
        </div>
        <%# display stats %>
        <div class="stats mt-4">
          <div class="row stats-number">
            <div class="col">
              <h5><strong><%= @apartment.impression_counter %></strong></h5>
            </div>
            <div class="col">
              <h5><strong><%= @apartment.bookmarks.count %></strong></h5>
            </div>
          </div>
          <div class="row stats-title">
            <div class="col">
              <p>Views</p>
            </div>
            <div class="col">
              <p>Bookmarks</p>
            </div>
          </div>
        </div>
        <%# end of stats %>
      </div>
    </div>
    <%# map %>
    <div class="col-5 container map">
      <div style="width: 100%; height: 100vh; position: sticky; top: 0;"
        data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
