<%#Apartments info %>
<div class="outer-container-apt-show container">
  <div class="container-apt-show">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-10 apt-info">
        <%# Agency actions %>
        <%# Stats %>
        <!-- Button trigger modal -->
        <div class="card-apt-show text-center">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Stats
          </button>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5" id="staticBackdropLabel">Stats for <%= @apartment.name %></h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>This apartment was bookmarked <strong><%= @apartment.bookmarks.count %></strong> times</div>
                  <div>This apartment was viewed <strong><%= @apartment.impression_counter %></strong> times</div>
                </div>
              </div>
            </div>
          </div>
          <%# Upload Floorplan %>
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFP" aria-expanded="false" aria-controls="collapseFP">
            Upload Floor Plan
          </button>
          <div class="collapse" id="collapseFP">
            <div class="card card-body">
              <%= simple_form_for [@apartment, @floor_plan_picture], url: apartment_floor_plan_pictures_path(@apartment) do |f| %>
                <%= f.input :photo, as: :file, label: "Upload the floor plan of your apartment" %>
                <%= f.button :submit, "Save", class:"btn btn-secondary" %>
              <% end %>
            </div>
          </div>
          <%#= link_to "List apartment", edit_agency_apartment_path(@apartment), class: "btn btn-secondary" %>
          <%#= link_to "Unlist apartment", edit_agency_apartment_path(@apartment), class: "btn btn-secondary" %>
          <%= link_to "Floor Plan Editor", edit_agency_apartment_path(@apartment, floor_plan: "true"), class: "btn btn-secondary" %>
          <%= link_to "Save QR code", save_qr_code_path(@apartment), class: "btn btn-secondary" %>
          <%= link_to "Edit apartment", edit_agency_apartment_path(@apartment), class: "btn btn-secondary" %>
          <%= link_to "Delete apartment", agency_apartment_path(@apartment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
          <%= link_to "Back to the list", agency_apartments_path, class:"btn btn-secondary" %>
        </div>
        <%#Apartments name, address price %>
        <div class="card-apt-show">
          <h1><%= @apartment.name %></h1>
          <p><%= @apartment.address %></p>
          <p><%= @apartment.category %></p>
        </div>
        <%#Apartments description, price, address, total floorspace, agency %>
        <div class="card-apt-show">
          <h3>Description</h3>
          <p><%= @apartment.description %></p>
          <div class="d-flex justify-content-evenly align-items-center">
            <div class="text-center">
              <p><%= @apartment.price.to_i %>¥ per month</p>
              <p><%= @apartment.total_floorspace %>m²</p>
              <p>Managed by <%= @apartment.agency.username %></p>
            </div>
            <div id="qr">
              <%# displaying the qr code %>
              <% @qr = RQRCode::QRCode.new("https://www.suitefit.tech/apartments/#{@apartment.id}") %>
              <%== @qr.as_svg(module_size: 4, viewbox: true) %>
            </div>
          </div>
        </div>
        <div class="card-apt-show">
          <%= image_tag(@apartment.photos[0]) %>
        </div>
      </div>
    </div>
  </div>
</div>
