<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#<%= new ? "item_new" : "item_#{item.id}_update" %>">
  <%= new ? "Add Item" : "Edit" %>
</button>
<!-- Modal -->
<div class="modal fade" id="<%= new ? "item_new" : "item_#{item.id}_update" %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="<%= item %>" aria-labelledby="staticBackdropLabel"data-create-item-popup-target="modal" data-popup="<%= popup == true %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= new ? "Add Item" : "Edit #{item.name}" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-create-item-popup-target="form">
        <%= render "fields", item: item %>
      </div>
    </div>
  </div>
</div>
