<%#Apartments info %>
<div class="outer-container-apt-show container">
  <div class="container-apt-show" >
    <div class="row d-flex align-items-center justify-content-center">
      <%#Apartments name, address price %>
      <div class="col-md-10 apt-info" style="position: relative">
        <div class="card-apt-show">
          <h1><%= @apartment.name%></h1>
          <p><%= @apartment.address %></p>
          <p><%= @apartment.category %></p>
          <%# Create a bookmark form %>
          <%= simple_form_for [@apartment, @bookmark] do |f| %>
            <%= button_tag( :submit, class: "mb-4", id: "fav-btn") do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          <% end %>
        </div>
        <%#Apartments description, price, address, total floorspace, agency id %>
        <div class="card-apt-show">
          <h3>Description</h3>
          <p><%= @apartment.description %></p>
          <div class="d-flex justify-content-evenly align-items-center">
            <div class="text-center">
              <p><%= @apartment.price.to_i %>¥ per month</p>
              <p><%= @apartment.total_floorspace %>m²</p>
              <p>Managed by <%= @apartment.agency.username %></p>
            </div>
            <div id="qr">
              <%# displaying the qr code %>
              <% @qr = RQRCode::QRCode.new("https://suite-fit-rlmp44-5e8ff51180b0.herokuapp.com/apartments/#{@apartment.id}") %>
              <%== @qr.as_svg(module_size: 4, viewbox: true) %>
            </div>
          </div>
        </div>
        <div class="card-apt-show">
          <%= cl_image_tag @apartment.photos.first.key, width: 400, crop: :fill %>
        </div>
      </div>
    </div>
  </div>
</div>
