<div class="container-fluid flashy-container-show">
  <%# create individual cards here %>
  <div class="row justify-content-center">
    <div class="card-flashy-show">
      <%= image_tag(@apartment.photos[0], class: "img-flashy") %>
      <div class="row">
        <div class="g-col-6 text-center" style="position: relative;">
          <h2><%= @apartment.name %></h2>
          <h3><i class="fa-solid fa-location-dot"></i> <%= @apartment.address %></h3>
          <%# Create a bookmark form %>
          <%= simple_form_for [@apartment, @bookmark] do |f| %>
            <%= button_tag( :submit, class: "mb-4", id: "fav-btn") do %>
              <i class="fa-solid fa-star fa-2x"></i>
            <% end %>
          <% end %>
          <%# Apartments description %>
          <p class="text-dark" style="font-weight: bold;"><%= @apartment.description %></p>
        </div>
        <div class="row justify-content-between">
          <div class="col-5 text-start mt-4">
            <%# Apartments info %>
            <p><strong> Total floorspace: <%= @apartment.total_floorspace %> m²</strong> </p>
            <p><strong> Price: ¥<%= @apartment.price.to_i %>/per month</strong></p>
            <p><strong>Apartment type: <%= @apartment.category %></strong></p>
            <p><strong>Managed by <%= @apartment.agency.username %></strong></p>
          </div>
          <div class="col-2"></div>
          <div class="col-4">
            <div id="qr">
              <%# displaying the qr code %>
              <% @qr = RQRCode::QRCode.new("https://suite-fit-rlmp44-5e8ff51180b0.herokuapp.com/apartments/#{@apartment.id}") %>
              <%== @qr.as_svg(module_size: 4, viewbox: true) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
