<% content_for :meta_title, "#{@apartment.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @apartment.description %>
<% if @apartment.photos.attached? %>
  <% content_for :meta_image, cl_image_path(@apartment.photos[0].key) %>
<% end %>
<div class="container flashy-container-show">
  <div class="row" style="display: flex;">
    <div class="card-flashy-show col-7">
      <%= render "carousel", apartment: @apartment %>
      <%= link_to "", edit_agency_apartment_path(@apartment), class: "fa-solid fa-pen flashy-edit-button-agency-show" %>
      <%= link_to "", agency_apartment_path(@apartment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash flashy-delete-button-agency-show" %>
      <div class="row">
        <div class="g-col-6 text-center" style="position: relative;">
          <h2><%= @apartment.name %> - <%= @apartment.category %></h2>
          <h3 style="opacity:0.6"><i class="fa-solid fa-location-dot"></i> <%= @apartment.address %></h3>
          <%# Create a bookmark form %>
          <%= simple_form_for [@apartment, @bookmark] do |f| %>
            <%= button_tag( :submit, class: "mb-4", id: "fav-btn") do %>
              <i class="fa-solid fa-star fa-2x"></i>
            <% end %>
          <% end %>
          <%# Apartments description %>
          <p class="text-muted text-start"><%= @apartment.description %></p>
          <%# Apartments info %>
          <p><strong> Total floorspace: <%= @apartment.total_floorspace %> m²</strong> </p>
          <p><strong> ¥<%= @apartment.price.to_i %>/month</strong></p>
          <p><strong>Managed by <%= @apartment.agency.username %></strong></p>
        </div>
        <div class="justify-content-between align-items-center d-flex">
          <%# floor plan display %>
          <% if @apartment.floor_plan_picture.present? %>
            <%= image_tag(@apartment.floor_plan_picture.photo, class: "show-floor-plan col-6 text-end my-2") %>
          <% else %>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <span style="font-size: 15px">No floor plan yet!</span>
            </div>
          <% end %>
          <div class="col-6">
            <div id="qr" class="my-2">
              <%# displaying the qr code %>
              <% @qr = RQRCode::QRCode.new("https://suite-fit-rlmp44-5e8ff51180b0.herokuapp.com/apartments/#{@apartment.id}") %>
              <%== @qr.as_svg(module_size: 4, viewbox: true) %>
            </div>
          </div>
        </div>
        <%# buttons row %>
        <div class="my-4 d-flex justify-content-around">
          <div class="col">
            <%= link_to save_qr_code_path(@apartment), class: "button-flashy", style: "color: black;" do %>
              <i class="fa-solid fa-download"></i>Save QR code
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%# map %>
    <div class="col-5 container map">
      <div style="width: 100%; height: 100vh; position: sticky; top: 0;"
        data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
