<%#Apartments info %>
<div class="outer-container-apt-show">
  <div class="container-apt-show" >
    <div class="row d-flex align-items-center justify-content-center">
      <%#Apartments name, address price %>
      <div class="col-md-8 apt-info">
          <div class="card-apt-show">
            <h1><%= @apartment.name%></h1>
            <p><%= @apartment.category %></p>
          </div>
        <%#Apartments description, price, address, total floorspace, agency id %>
          <div class="card-apt-show">
            <h3>Description</h3>
            <p><%= @apartment.description %></p>
            <p>Price: <%= @apartment.price.to_i %>¥</p>
            <p>Address: <%= @apartment.address %></p>
            <p>Total floorspace: <%= @apartment.total_floorspace %>m2</p>
            <p>Agency name: <%= @apartment.agency_id %></p>
          </div>
          <%# QR code %>
          <div class="card-apt-show">
            <h4>QR Code</h4>
            <%= @apartment.qr_code %>
             <%# Create a booking form %>
            <div class="card-apt-show">
                <%= simple_form_for [@apartment, @bookmark] do |f| %>
                  <%= f.button :submit %>
                <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
