<!DOCTYPE html>
<html>
  <head>
    <title>SuiteFit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body data-controller="requests-subscription"
    <% if user_signed_in? && current_user.agency %>
      data-requests-subscription-agency-id-value=<%= current_user.id %>
    <% end %>>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
  </html>
